body {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 900;
  padding: 3% 15%;
  text-align: left;
}

h3 {
  padding: 3% 15%;
}

.phone-image {
  width: 60%;
  transform: rotate(25deg);
}

.navbar {
  padding-bottom: 4rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

.nav-link {
  font-family: 'Ubuntu', sans-serif;
}

#title {
  background-color: #6A994E;
}

#testimonials {
  background-color: #6A994E;
}

#pricing {
  background-color: #6A994E;
}

.container-fluid {
  padding: 3% 15%;
}

.pebbles-image {
  border-radius: 100%;
  padding: 2%;
  height: 200px;
  width: 200px;
}

.press-image {
  padding-top: 10px;
  padding-bottom: 10px;
}
